#!/usr/bin/env python3
# -*- coding: utf-8 -*-

# general
GENERAL = {
    "app_name": "flask-app",
    "app_port": 8100,
    "time_zone": "Asia/Jakarta",
    "base_url": "http://localhost:8100",
    "logging_level": "DEBUG",
    "localization": "id_id",
    "lang": "id",
}