{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container my-5">
    <section class="body text-center text-secondary">
      <h1 class="title">Welcome to Aproksimasi App</h1>
      <div class="feature mt-3">
        <h3 class="feature__title">Work flow program aproksimasi:</h3>
        <img src="{{ url_for('static', filename='img/aprokmasi.png') }}" alt="aproksimasi-work-flow" width="50%">
      </div>
    </section>

    <section class="foot text-center mt-3">
      <p class="text-secondary">
        <span class="text-warning">Contoh Soal:</span>
        Dengan menggunakan metode iterasi/perulangan, hitunglah hasil dari e0,5 sampai minimal memiliki 3 angka signifikan!
      </p>
      <a href="{{base_url}}/aproksimasi" class="btn btn-lg btn-outline-secondary" role="button" aria-pressed="true" target="_blank">Let's go try it!</a>
    </section>
  </div>
{% endblock %}